# used to name the ipa
APP_NAME=Xiuyou

# directory to store exported ipa
APP_DIR=~/Desktop/app

# the absolute path to the project directory
PROJECT_DIR=/Users/zhangyuanke/Desktop/Projects/Test/Xiuyou
# project name, the same as the .xcodeproj file name
PROJECT_NAME="Xiuyou"

# scheme name
SCHEME_NAME="Xiuyou"

# profile name
PROFILE_NAME="xiuyou_distribution"

# configuration for archive
CONFIGURATION="Release"

# login password, to unlock login keychain
LOGIN_PASSWORD="Zyk@1121"
