# used to name the ipa
APP_NAME=WXMapiPhone

# directory to store exported ipa
APP_DIR=~/Desktop/app

# the absolute path to the project directory
PROJECT_DIR=/Users/zhangyuanke/Desktop/Leador/Repository/iosapp/apps/WXMapiPhone
# project name, the same as the .xcodeproj file name
PROJECT_NAME="WXMapiPhone"

# scheme name
SCHEME_NAME="WXMapiPhone"

# profile name
PROFILE_NAME="xiuyou_distribution"

# configuration for archive
CONFIGURATION="Release"

# login password, to unlock login keychain
LOGIN_PASSWORD="Zyk@1121"
