<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.in-app-payments</key>
	<array>
		<string>merchant.com.ishowchina.map</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.ishowchina</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)com.ishowchina.map1</string>
		<string>$(AppIdentifierPrefix)com.ishowchina.map1</string>
	</array>
</dict>
</plist>
